/* 
	Resets defualt browser settings
	reset.css
*/

/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
*/
#cnzz_stat_icon_1255166859{display: none;}


:focus { outline:0; }
a:active { outline:none; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }
a img{outline:none; border:none;}
a{outline:none; border:none;}
object{outline::none;}
p{ margin:0; padding:0;}

.fl{ float:left;}
.fr{ float:right;}
/*
====================== Page Style ======================
*/

html, body {height: 100%;}  /*高さ100%に指定*/

body {
	margin: 0;
	padding: 0;
	line-height: 1em;
	text-align: center;
	font-size: 10px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
	min-width: 980px;  /*中央配置するボックスの横幅*/
	min-height: 685px;  /*中央配置するボックス縦幅*/
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	background-position: center center;

}



#wrapper{
	height:auto;
	position:absolute;
	top:75px;
	left:0px;

	width:100%;

}
.logo{
	width: 900px;
	text-align: right;
	height: 160px;
	margin: 0 auto 30px;

}
#container {
	width:98px;
	height:685px;
	padding:0;
	margin:-0 0 0 -490px;
	z-index:0;
	position:absolute;
	left:50%;
}

#example {
	width:980px;
	height:648px;
	position:relative;
}

.location {
	text-align: left;
	color: white; 
	position: absolute;
	top: 930px;
	left: 30px;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	font-family: yahei;
	background-image: url(../images/location.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	padding-top: 8px;

}

/*
====================== index style ======================
*/
.middle{
	width: 1280px;
	margin: 0 auto;
	text-align: left;
}



/*
====================== Slideshow style ======================
*/


#slides {
	position:relative;
	top:0px;
	left:0px;
	z-index:100;
	text-align:left;
}

.slides_container {
	width: 900px;
	height: 582px;
	margin: 0 0 0 40px;
	overflow: hidden;
	position: relative;
	display: none;
}


#slides .slide {
	padding:0;
	width:900px;
	height:582px;
	background:#FFF;
	display:block;
}




/*
====================== Next/prev buttons ======================
*/
#slides .next,#slides .prev {
	position:absolute;
	top:300px;
	left:0px;
	width:30px;
	height:30px;
	display:block;
	z-index:101;
	opacity:0.5;
}

#slides .next {
	left:950px;
}

#slides .next:hover,
#slides .prev:hover{
	opacity:1.0;
}







/*
====================== Pagination ======================
*/

.pagination-wrapper {
	overflow-x: auto;
	width: 900px;
	margin: 0 35px;
}

.pagination {
	width:2075px;
	height:45px;
	padding:8px 0 0 0;
	/*margin:0 auto;*/
	margin-top: 0px;
	margin-bottom: 5px;
	background:url(../images/slide-01.png?v2) 12px 8px no-repeat;
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
	margin-bottom: 10px;
}

.pagination li{
	float:left;
	margin:0 0 0 13px;
	list-style:none;
	padding:0;
	width:70px;
}

.pagination li a {
	display:block;
	width:70px;
	height:45px;
	margin:0;
	padding:0;
	background:url(../images/nomal.png) 0 0 no-repeat;
	float:left;
	text-decoration:none;
	text-indent:-9999px;
	line-height:0;
	text-transform: uppercase;
}

.pagination li a:hover{
	background:url(../images/over.png) 0 0 no-repeat;
}

.pagination li.current a {
	background:url(../images/select.png) 0 0 no-repeat;
}
